<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<H1>Inicio</H1>
<a th:href="@{agregar}">Crear Persona</a>
<div th:if="${personas != null and !personas.empty}"><!--para revisar si la lista esta vacia-->
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Editar</th>
            <th>Eliminar</th>


        <tr th:each="persona : ${personas}"><!--Se itera cada uno de los elementos del manejo de personas-->
            <td th:text="${persona.nombre}"> Mostrar Nombre</td>
            <td th:text="${persona.apellido}">mostrar Apellido</td>
            <td th:text="${persona.telefono}">Mostrar Telefono</td>
            <td th:text="${persona.email}">Mostrar Email</td>
            <td> <a th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar"/></td>
            <td> <a th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="Eliminar"/></td>
        </tr>
    </table>
</div>
<div th:if="${personas == null or personas.empty}">
    La lista esta vacía
</div>


</body>
</html>